[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"google.cloud.logging" = "*"
google-cloud-secret-manager = "*"
psycopg2-binary = "*"
django-environ = "*"
google-cloud-storage = "*"
whitenoise = "*"
django-extensions = "*"
djangorestframework = "*"
gspread = "*"
gunicorn = "*"
django-widget-tweaks = "*"
google-cloud-vision = "*"

[dev-packages]

[requires]
python_version = "3.10"
