{% extends '_base_paginated_results.html' %}
{% load humanize %}

{% block list_content %}
<form id='filters' class="form-inline mt-2 mt-md-0" action="" method="get">
   <input name="q" id="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
   <label for="order_by"> Sort by: </label>
   <select name="order_by" id="order_by" value="">
    <option value="-date_filed">New</option>
    <option value="-record_date">Transaction Date</option>
  </select>
  &nbsp;&nbsp;
  <label for="year"> Year: </label>
   <select name="year" id="year">
    <option value="current">Current Year</option>
    <option value="all">All</option>
  </select>
  {% block extra_form %}
  {% endblock extra_form %}
  <button class="btn btn-info ml-2" type="submit">Go</button>
  </form>
    {% block table_content %}
    {% endblock table_content %}
{% endblock list_content %}

{% block custom_script %}
<script>
  $(function(){
    // prepopulate sort_by field
    var query_str = "{{request.GET.q}}";
    var order_by_str = "{{request.GET.order_by}}";
    var year_str = "{{request.GET.year}}";
    if (order_by_str && order_by_str.length > 0) {
      $('#order_by').val(order_by_str);
    }
    if (year_str && year_str.length > 0) {
      $('#year').val(year_str);
    }
    if (query_str && query_str.length > 0) {
      $('#q').val(query_str);
    }
  });
</script>
{% endblock custom_script %}