{% load static %}
<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/demo.css' %}">
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<form hx-post="test_form" hx-target="#result">
    <select id="fieldA">
        <option>option_1</option>
        <option>option_2</option>
    </select>
    <select id="fieldB">
        <option>option_1</option>
        <option>option_2</option>
    </select>
    <button type="submit">Go</button>
</form>
<div>
    <button hx-post="/test_form" hx-indicator="#spinner">
        Post It!
    </button>
    <div id="spinner" class="spinner-border htmx-indicator" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
</body>
</html>