<tr>
    <td>{{ form.record_date }}
        {{ form.record_date.errors}}
    </td>
    <td>{{ form.address }}
        {{ form.address.errors }}
    </td>
    <td>
        {{ form.expense_category }}
        {{ form.expense_category.errors }}
    </td>
    <td>
        {{ form.amount }}
        {{ form.amount.errors }}
    </td>
    <td></td>
    <td>
        {{ form.note }}
        {{ form.note.errors }}
    </td>
    <td><a href="#" hx-post="{% url 'add_expense_row' %}" hx-target="closest tr" hx-swap="outerHTML" hx-include="closest tr" class="text-secondary"><svg class="bi bi-check-lg me-2" width="32" height="32"><use xlink:href="#checkmark"/></svg></a></td>
    <td><a href="#" hx-get="{% url 'cancel_new_record' %}" hx-target="closest tr" hx-swap="outerHTML" hx-include="closest tr" class="text-secondary"><svg class="bi bi-x-lg me-2" width="32" height="32"><use xlink:href="#cancel"/></svg></a></td>  
</tr>