{% load humanize %}
<tr>
    <td>{{ expense.record_date }}</td>
    <td>{{ expense.address }}</td>
    <td>{{ expense.expense_category }}</td>
    <td>${{ expense.amount|intcomma }}</td>
    <td><a href="{{ expense.get_full_path_to_gcs }}"><svg class="bi bi-file-image" width="32" height="32"><use xlink:href="#file-image"/></svg></a></td>
    <td>{{ expense.note }}</td>

    {% url 'get_expense_edit' expense.pk as expense_edit_url %}
    {% include 'transactions/partial/buttons/edit_row_button.html' with url=expense_edit_url %}
    {% url 'delete_expense' expense.pk as expense_delete_url %}
    {% include 'transactions/partial/buttons/delete_row_button.html' with url=expense_delete_url %}
    
</tr>