{% load humanize %}
<tr hx-target="this" hx-swap="outerHTML">
    {% with record_date_f=expense.record_date|date:"Y-m-d" %}
    <!-- <td><input type="date" name="record_date" form="expense_{{expense.pk}}" value="{{ record_date_f }}"></td> -->
    <td>{{ form.record_date }}
        {{ form.record_date.errors}}
    </td>
    {% endwith %}
    <td>{{ form.address }}
        {{ form.address.errors }}
    </td>
    <td>
        {{ form.expense_category }}
        {{ form.expense_category.errors }}
    </td>
    <td>
        {{ form.amount }}
        {{ form.amount.errors }}
    </td>
    <td>
        {{ form.document_image }}
        {{ form.document_image.errors }}
    </td>
    <td>
        {{ form.note }}
        {{ form.note.errors }}
    </td>
    {% url 'get_expense_row' expense.pk as expense_submit_url %}
    {% include 'transactions/partial/buttons/submit_row_button.html' with url=expense_submit_url %}
    {% include 'transactions/partial/buttons/cancel_row_button.html' with url=expense_submit_url %}
</tr>
