{% load humanize %}
<tr hx-target="this" hx-swap="outerHTML">
    <td>{{ revenue.record_date }}</td>
    <td>{{ revenue.address }}</td>
    <td>{{ revenue.get_revenue_type_display }}</td>
    <td>${{ revenue.amount|intcomma }}</td>
    <!-- <td><a href="{{ revenue.get_full_path_to_gcs }}">{{ revenue.document_image.name }}</a></td> -->
    <td>{{ revenue.note }}</td>
    
    {% url 'get_revenue_edit' revenue.pk as revenue_edit_url %}
    {% include 'transactions/partial/buttons/edit_row_button.html' with url=revenue_edit_url %}
    {% url 'delete_revenue' revenue.pk as revenue_delete_url %}
    {% include 'transactions/partial/buttons/delete_row_button.html' with url=revenue_delete_url %}
</tr>