{% load humanize %}
<tr hx-target="this" hx-swap="outerHTML">
    <td>{{ form.record_date }}
        {{ form.record_date.errors}}
    </td>
    <td>{{ form.address }}
        {{ form.address.errors }}
    </td>
    <td>
        {{ form.revenue_type }}
        {{ form.revenue_type.errors }}
    </td>
    <td>
        {{ form.amount }}
        {{ form.amount.errors }}
    </td>
    <td>
        {{ form.note }}
        {{ form.note.errors }}
    </td>
    {% url 'get_revenue_row' revenue.pk as revenue_submit_url %}
    {% include 'transactions/partial/buttons/submit_row_button.html' with url=revenue_submit_url %}
    {% include 'transactions/partial/buttons/cancel_row_button.html' with url=revenue_submit_url %}
</tr>