{% extends '_record_list.html' %}
{% load humanize %}

{% block top_nav %}
    <a class="p-2 text-dark" href="{% url 'upload_invoice' %}">Log an expense</a>
{% endblock top_nav %}

{% block extra_form %}
<!-- &nbsp;&nbsp;
<input type="checkbox" id="unmatched_expense" name="unmatched_expense" value="yes">
<label for="unmatched_invoice">Unmatched invoice</label> -->
<label for="category"> Category: </label>
<select name="category" id="category">
  <option value="all">All</option>
  {% for category in categories %}
      <option value="{{ category }}">{{ category }}</option>
  {% endfor %}
</select>
{% endblock extra_form %}
{% block table_content %}
<table class="table table-striped" style="width:auto">
    <thead>
      <tr>
        <th scope="col">Expense Date</th>
        <th scope="col">Address</th>
        <th scope="col">Expense Category</th>
        <th scope="col">Expense Amount</th>
        <th scope="col">Invoice Image</th>
        <th scope="col">Note </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for expense in page_obj.object_list %}
      <tr>
        <td>{{ expense.record_date }}</td>
        <td>{{ expense.address }}</td>
        <td>{{ expense.expense_category }}</td>
        <td>${{ expense.amount|intcomma }}</td>
        <td><a href="{{ expense.get_full_path_to_gcs }}">{{ expense.document_image.name }}</a></td>
        <td>{{ expense.note }}</td>
        <td><a href="{% url 'expense_edit' expense.pk %}">Edit</a></td>
        <td><a href="{% url 'expense_delete' expense.pk %}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock table_content %}
{% block extra_script %}
<script>
  $(function(){
    // prepopulate sort_by field
    var category_str = "{{request.GET.category}}";
    if (category_str && category_str.length > 0) {
      $('#category').val(category_str);
    }
  });
</script>
{% endblock extra_script %}

