{% extends '_base.html' %}
{% load humanize %}

{% block content %}
<form class="form-inline mt-2 mt-md-0" action="" method="get">
  <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
</form>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Expense Date</th>
        <th scope="col">Address</th>
        <th scope="col">Expense Type</th>
        <th scope="col">Expense Amount</th>
        <th scope="col">Invoice Image</th>
        <th scope="col">Note </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for expense in expenses %}
      <tr>
        <td>{{ expense.record_date }}</td>
        <td>{{ expense.address }}</td>
        <td>{{ expense.get_expense_type_display }}</td>
        <td>${{ expense.amount|intcomma }}</td>
        <td><a href="{{ expense.get_full_path_to_gcs }}">{{ expense.document_image.name }}</a></td>
        <td>{{ expense.note }}</td>
        <td><a href="{% url 'expense_edit' expense.pk %}">Edit</a></td>
        <td><a href="{% url 'expense_delete' expense.pk %}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>

{% endblock content %}