{% extends '_base.html' %}

{% block content %}
    <h1>Edit</h1>
    <a href="{{ raw_invoice.get_full_path_to_gcs }}" target="_blank" rel="noopener noreferrer">Link to invoice</a> 
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="fieldWrapper">
                        {{ form.record_date.errors }}
                        <label for="{{ form.record_date.id_for_label }}">Transaction Date:</label>
                        {{ form.record_date }}
                    </div>

                    <div class="fieldWrapper">
                        {{ form.address.errors }}
                        <label for="{{ form.address.id_for_label }}">Address:</label>
                        {{ form.address }}
                    </div>

                    <div class="fieldWrapper">
                        {{ form.amount.errors }}
                        <label for="{{ form.amount.id_for_label }}">Amount:</label>
                        {{ form.amount }}
                    </div>

                    <div class="fieldWrapper">
                        {{ form.note.errors }}
                        <label for="{{ form.note.id_for_label }}">Note:</label>
                        {{ form.note }}
                    </div>

                    <div class="fieldWrapper">
                        {{ form.expense_category.errors }}
                        <label for="{{ form.expense_category.id_for_label }}">Expense Type:</label>
                        {{ form.expense_category }}
                    </div>

                    <button class="btn btn-info ml-2" type="submit">Update</button>
                </form>
            </div>
            
        </div>
    </div>
{% endblock content %}