{% extends '_base.html' %}
{% load humanize %}

{% block content %}
<form class="form-inline mt-2 mt-md-0" action="{%url 'expense_list' %}" method="get">
  <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
</form>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Upload Date</th>
        <th scope="col">Invoice Image</th>
        <th scope="col">Note</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in object_list %}
      <tr>
        <td>{{ invoice.upload_date }}</td>
        <td><a href="{{ invoice.get_full_path_to_gcs }}">{{ invoice.invoice_image.name }}</a></td>
        <td>{{ invoice.note }}</td>
        <td><a href="{% url 'file_invoice' invoice.pk %}">File</a></td>
        {% if invoice.need_review %}
        <td><a href="{% url 'review_invoice_edit' invoice.pk %}">Edit</a></td>
        {% else %}
        <td><a href="{% url 'raw_invoice_edit' invoice.pk %}">Edit</a></td>
        {% endif %}
        <td><a href="{% url 'raw_invoice_delete' invoice.pk %}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}