{% extends '_base.html' %}
{% load humanize %}

{% block content %}
<form class="form-inline mt-2 mt-md-0" action="{%url 'expense_list' %}" method="get">
  <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
</form>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Upload Date</th>
        <th scope="col">Invoice Image</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in object_list %}
      <tr>
        <td>{{ invoice.upload_date }}</td>
        <td><a href="{{ invoice.get_full_path_to_gcs }}">{{ invoice.invoice_image.name }}</a></td>
        <td><a href="{% url 'file_invoice' invoice.pk %}">File</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}