{% extends '_record_list.html' %}
{% load humanize %}

{% block table_content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Revenue Date</th>
        <th scope="col">Address</th>
        <th scope="col">Revenue Type</th>
        <th scope="col">Revenue Amount</th>
        <!--<th scope="col">Check Image</th> -->
        <th scope="col">Note </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for revenue in page_obj.object_list %}
      <tr>
        <td>{{ revenue.record_date }}</td>
        <td>{{ revenue.address }}</td>
        <td>{{ revenue.get_revenue_type_display }}</td>
        <td>${{ revenue.amount|intcomma }}</td>
        <!-- <td><a href="{{ revenue.get_full_path_to_gcs }}">{{ revenue.document_image.name }}</a></td> -->
        <td>{{ revenue.note }}</td>
        <td><a href="{% url 'revenue_edit' revenue.pk %}">Edit</a></td>
        <td><a href="{% url 'revenue_delete' revenue.pk %}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock table_content %}
