{% extends '_record_list.html' %}
{% load humanize %}

{% block top_nav %}
    <a class="p-2 text-dark" href="{% url 'upload_check' %}">Log a revenue</a>
{% endblock top_nav %}

{% block extra_form %}
&nbsp;&nbsp;
<label for="order_by"> Sort by: </label>
<select name="order_by" id="order_by" value="">
  <option value="-date_filed">New</option>
  <option value="-record_date">Transaction Date</option>
  <option value="address">Address</option>
</select>
{% endblock extra_form %}

{% block table_content %}
<table class="table table-striped w-100 d-block d-md-table">
    <thead>
      <tr>
        <th scope="col">Revenue Date</th>
        <th scope="col">Address</th>
        <th scope="col">Revenue Type</th>
        <th scope="col">Revenue Amount</th>
        <!--<th scope="col">Check Image</th> -->
        <th scope="col">Note </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for revenue in page_obj.object_list %}
      <tr>
        <td>{{ revenue.record_date }}</td>
        <td>{{ revenue.address }}</td>
        <td>{{ revenue.get_revenue_type_display }}</td>
        <td>${{ revenue.amount|intcomma }}</td>
        <!-- <td><a href="{{ revenue.get_full_path_to_gcs }}">{{ revenue.document_image.name }}</a></td> -->
        <td>{{ revenue.note }}</td>
        <td><a href="{% url 'revenue_edit' revenue.pk %}">Edit</a></td>
        <td><a href="{% url 'revenue_delete' revenue.pk %}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock table_content %}
