{% extends '_base.html' %}
{% load humanize %}

{% block content %}
<form class="form-inline mt-2 mt-md-0" action="{%url 'expense_list' %}" method="get">
  <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
</form>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Revenue Date</th>
        <th scope="col">Revenue</th>
        <th scope="col">Revenue Type</th>
        <th scope="col">Revenue Amount</th>
        <th scope="col">Check Image</th>
        <th scope="col">Note </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for revenue in object_list %}
      <tr>
        <td>{{ revenue.record_date }}</td>
        <td>{{ revenue.address }}</td>
        <td>{{ revenue.get_revenue_type_display }}</td>
        <td>${{ revenue.amount|intcomma }}</td>
        <td><a href="{{ revenue.display_full_path_to_gcs }}">{{ revenue.document_image.name }}</a></td>
        <td>{{ expense.note }}</td>
        <td><a href="{% url 'revenue_edit' revenue.pk %}">Edit</a></td>
        <td><a href="{% url 'revenue_delete' revenue.pk %}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}