{% extends '_base.html' %}
{% load humanize %}

{% block top_nav %}
<a class="p-2 text-dark" href="{% url 'upload_csv' %}">Upload a statement</a>
{% endblock top_nav %}

{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Ending Date</th>
        <th scope="col">Type</th>
        <th scope="col">Account Number </th>
        <th scope="col">Uploaded file</th>
        <th scope="col">Is verified? </th>
        
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for statement in object_list %}
      <tr>
        <td><a href="{% url  'transaction_list' %}?statement_id={{ statement.id }}">{{ statement.period_ending_date }}</a></td>
        <td>{{ statement.get_statement_type_display }}</td>
        <td>{{ statement.account_number }}</td>
        <td><a href="{{ statement.get_full_path_to_gcs }}"> {{ statement.uploaded_file.name }}</a></td>
        <td>{{ statement.is_verified }}</td>
        <td><a href="{% url 'statement_delete' statement.pk %}">Delete</a>  </td>
       
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}