{% extends '_base.html' %}
{% load humanize %}

{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Transaction Date</th>
        <th scope="col">Account Number</th>
        <th scope="col">Statement Type</th>
        <th scope="col">Transaction Description</th>
        <th scope="col">Transaction Amount</th>
        <th scope="col">Accounting Classification</th>
        <th scope="col">Match ID</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.transaction_date }}</td>
        <td>{{ transaction.account_number }}</td>
        <td>{{ transaction.statement_type }}</td>
        <td>{{ transaction.transaction_description }}</td>
        <td>${{ transaction.transaction_amount|intcomma}}</td>
        <td>{{ transaction.accounting_classification }}</td>
        {% if transaction.match_id == 0 %}
        <td><a href="{% url 'match_list' transaction.pk %}">Match</a></td>
        {% else %}
        <td><a href="{{ transaction.matching_expense.display_full_path_to_gcs }}">{{ transaction.matching_expense.invoice_image.name }}</a></td>
        {% endif %}
        <td>{{ transaction.is_verified }}</td>
        <td><a href="{% url 'transaction_edit' transaction.pk %}">Edit</a></td>
        
     </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}
