{% extends '_base.html' %}

{% block content %}
    <a href="{% url 'transaction_list' %}">Back to transactions</a>
    <h1>Edit</h1>
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.transaction_description.errors }}
            <label for="{{ form.transaction_description.id_for_label }}">Transaction Description</label>
            {{ form.transaction_description }}
        </div>
        <div class="fieldWrapper">
            {{ form.transaction_amount.errors }}
            <label for="{{ form.transaction_amount.id_for_label }}">Transaction Amount</label>
            {{ form.transaction_amount }}
        </div>
        <div class="fieldWrapper">
            <label>Match ID:</label>
            {% if transaction.match_id > 0 %}
            {{transaction.match_id}} &nbsp;&nbsp;
            <a href="{% url 'remove_match' transaction.pk %}">Remove match</a>
            {% else %}
                None &nbsp;&nbsp;
                
                {% if transaction.transaction_amount < 0 %}
                    <a href="{% url 'matching_expense_list' transaction.pk %}">Match</a><br />
                {% else %}
                    <a href="{% url 'matching_revenue_list' transaction.pk %}">Match</a><br />
                {% endif %}
            {% endif %}
        </div>
        <div class="fieldWrapper">
            {{ form.is_ignored.errors }}
            <label for="{{ form.is_ignored.id_for_label }}">Can Ignore?</label>
            {{ form.is_ignored }}
        </div>
        
        
        <button class="btn btn-info ml-2" type="submit">Update</button>
    </form>
   
{% endblock content %}