{% extends '_base_paginated_results.html' %}
{% load humanize %}

{% block list_content %}
<form id='filters' class="form-inline mt-2 mt-md-0" hx-trigger="load, submit" hx-target="#query_result" hx-get="/get_transaction_list" hx-indicator="#spinner">
  <input name="q" class="search form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  <br/>
  <label for="start_date">Start Date:</label>
  <input type="date" id="start_date" name="start_date" min="2018-01-01">&nbsp;
  <label for="end_date">End Date:</label>
  <input type="date" id="end_date" name="end_date" min="2018-01-01">
  <button class="btn btn-info ml-2" type="submit">Go</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Transaction Date</th>
      <th scope="col">Account Number</th>
      <th scope="col">Statement Type</th>
      <th scope="col">Transaction Description</th>
      <th scope="col">Transaction Amount</th>
      <th scope="col">Matching Document</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in page_obj.object_list %}
    <tr>
        <td>{{ transaction.transaction_date }}</td>
        <td>{{ transaction.statement.account_number }}</td>
        <td>{{ transaction.statement.get_statement_type_display }}</td>
        <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">{{ transaction.transaction_description }}</td>
        <td>${{ transaction.transaction_amount|intcomma}}</td>
        {% if transaction.match_id == 0 %}
          {% if transaction.transaction_amount < 0 %}
                <td><a href="{% url 'matching_expense_list' transaction.pk %}">Match</a></td>
          {% else %}
                <td><a href="{% url 'matching_revenue_list' transaction.pk %}">Match</a></td>
          {% endif %}
        {% else %}
        <td><a href="{{ transaction.matching_record.get_full_path_to_gcs }}">{{ transaction.matching_record.document_image.name }}</a></td>
        {% endif %}
        <td><a href="{% url 'transaction_edit' transaction.pk %}">Edit</a></td>
        <td><a href="{% url 'transaction_delete' transaction.pk %}">Delete</a></td>
   </tr>
   
    {% endfor %}
  </tbody>
</table>

{% endblock list_content %}


